#dashboardC2 {
    position: absolute;
    top: 90%;
    left: 1%;
    right: 50%;
    font-size: 85%;
    color: white;
    float: right;
    background-color: #1e242a;
    border-radius: 25px;
    border: 5px solid white;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.section {
    width: 50%;
    text-align: center;
}

#controls {
    /* display: none; */
    position: absolute;
    top: 110%;
    right: 0%;
    font-size: 85%;
    color: white;
    float: right;
    background-color: #1e242a;
    border-radius: 25px;
    border: 5px solid white;
    padding: 20px;
}

#myProgress2{
    position: absolute;
    width: 40%;
    background-color: #ddd;
    left: 5%;
}