.info-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.plantPopup {
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: -10%;
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

.plantPopup::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
#dashboardC3 {
    height: 200px;
    width: 800px;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 1%;
    right: 50%;
    font-size: 85%;
    color: white;
    float: right;
    background-color: #1e242a;
    border-radius: 25px;
    border: 5px solid white;
    padding: 5px;
    display: flex;

}

.sectionC3 {
    width: 33%;
    text-align: center;

}

#controls {
    /* display: none; */
    position: absolute;
    top: 90%;
    left: 72%;
    right: 1%;
    font-size: 85%;
    color: white;
    float: right;
    background-color: #1e242a;
    border-radius: 25px;
    border: 5px solid white;
    padding: 20px;
}