#dashboardC1 {
    height: 200px;
    width: 400px;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 1%;
    right: 50%;
    font-size: 85%;
    color: white;
    float: right;
    background-color: #1e242a;
    border-radius: 25px;
    border: 5px solid white;
    padding: 5px;
    display: flex;

}

.sectionC1 {
    width: 100%;
    text-align: center;

}

#controls {
    /* display: none; */
    position: absolute;
    top: 130%;
    left: 72%;
    right: 1%;
    font-size: 85%;
    color: white;
    float: right;
    background-color: #1e242a;
    border-radius: 25px;
    border: 5px solid white;
    padding: 20px;
}

#myProgress {
    position: absolute;
    width: 80%;
    background-color: #ddd;
    right: 10%;
}